body {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

h1 {
  font-size: 50px;
  color: black;
  text-align: center;
  font-family: 'Orbitron';
}

.label {
  color: black;
}

.rightJust {
  display: inline-flex;
  position: absolute;
  top: 15px;
  right: 0px;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

#base {
  display: block;
  width: 400px;
  height: auto;
  background-color: rgb(160, 160, 160);
  border: 2px solid black;
  border-radius: 15px;
  position: relative;
  top: 10px; 
  left: auto; 
  margin: auto;
  padding-bottom: 25px;
}

#display {
  display: inline-flex;
  overflow: hidden;
  width: 350px;
  height: 80px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  left: 25px;
  top: 25px;
  font-family: 'Orbitron';
  font-size: 36px;
  padding: 10px;
}

#clearBtn {
  position: relative;
  width: 350px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  font-size: 15px;
}

.button {
  display: inline-flexbox;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  color: black;
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 26px;
}

button:active {
  border-style: inset;
}

.btnRow1 {
  margin-top: 10px;
}
.btnRow2, .btnRow3, .btnRow4 {
  margin-top: 10px;
}
.btnCol1 {
  margin-left: 25px;
}
.btnCol2, .btnCol3, .btnCol4 {
  margin-left: 5px;
}

#homelink {
  color: black;
  text-decoration: none;
  font-family: 'Orbitron';
}

#homelink:hover{
  text-decoration: line-through;
}

#notesBox {
  position: relative;
  top: 30px;
  margin: auto;
  border: 1px solid black;
  width: 400px;
  height: auto;
  padding: 10px;
}

#notesHeader {
  position: relative;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#btndec {
  visibility: hidden;
}